# DSO 105 Intermediate Stats L3 - R

In [7]:
## When you have 1 or more categorical varialbe you can either do: proportion testing or Chi-Square

In [16]:
#### Page 2

By the end of the lesson, you should be able to conduct the following in both Python and R:

* One proportion tests

* Two proportion tests

* Independent Chi-Squares

* Goodness of fit Chi-Squares

* McNemar Chi-Squares

In addition, you should also be able to:

* Differentiate between the different types of categorical tests

* Test assumptions and perform post hoc analysis for Chi-Squares in R

In [1]:
## load libraries

install.packages('gmodels')
install.packages('tidyverse')


library(gmodels)
library(tidyverse)

Installing package into 'C:/Users/nolan/OneDrive/Documents/R/win-library/4.1'
(as 'lib' is unspecified)

package 'gmodels' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\nolan\AppData\Local\Temp\RtmpiEyzz1\downloaded_packages

Installing package into 'C:/Users/nolan/OneDrive/Documents/R/win-library/4.1'
(as 'lib' is unspecified)

package 'tidyverse' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\nolan\AppData\Local\Temp\RtmpiEyzz1\downloaded_packages

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.3     v purrr   0.3.4
v tibble  3.1.2     v dplyr   1.0.6
v tidyr   1.1.3     v stringr 1.4.0
v readr   1.4.0     v forcats 0.5.1

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

## One Proportion Testing

One proportion testing is used when you want to see whether the proportion of two things are similar.

## One Proportion Testing in R
As an example, you have an Easter basket full of candy, which is filled with both jelly beans and chocolate eggs. 

There are 15 jelly beans and 28 chocolate eggs, for a total of 43 different pieces of candy. 

You can use the function prop.test() to determine whether the proportion of jelly beans are equal to chocolate eggs 

- this would mean that they are both equal, or at 50% - probability of .5. To do this, you will use the argument x= to put in the number of jelly beans, 

and then the argument n= to specify the total number. You can also use the argument alternative= to specify whether you want a one-tailed or two-tailed test.

You can use the statement of two.sided, greater, and less which would be the possibilities for a one-tailed test.

In [6]:
prop.test(x = 15, n = 43, alternative = "less")

	1-sample proportions test with continuity correction

data:  15 out of 43, null probability 0.5
X-squared = 3.3488, df = 1, p-value = 0.03363
alternative hypothesis: true p is less than 0.5
95 percent confidence interval:
 0.0000000 0.4858337
sample estimates:
        p
0.3488372

The p value is .03, which means that the proportion of jelly beans to chocolate eggs is not equal, since it is different than .5 (half). 

If you're wondering what the proportion of jelly beans is to the whole, it is found in the bottom on the sample estimates:section: .34. 

This means that your Easter basket contains about 35% jelly beans and about 65% chocolate eggs. Hopefully you like chocolate!

In [9]:
#### Page 4

## Two Proportion Testing

You will use a two proportion z test when you want to compare the proportions of two different categories to the whole.

## Two Proportion Testing in R
As an example, you will go back to your Easter basket full of candy, which is filled with both jelly beans and chocolate eggs. 

Each are available in several colors, and With a two proportion test, you can determine whether the proportions of those candies to the whole differ, as well as whether the proportion of the pink candies differ.

There are 15 jelly beans and 28 chocolate eggs. Of the jelly beans, 7 are pink. Of the chocolate eggs, 12 are pink.

You can again use the function prop.test() in R to test whether these are similar. 

You'll use the argument x= to feed in a vector of your first two proportions. 

These will be the smaller part of the whole. 

In this case, it's the number of candies from each type that are pink.

Then you will feed in a argument of n= with the vector that includes the values of the total number of each type of candy. 

Lastly, you'll use the argument alternative= to choose whether you want a one-tailed or two-tailed test. 

Just like the one proportion test, you can use the statement of two.sided, greater, and less which would be the possibilities for a one-tailed test.

In [13]:
prop.test(x = c(7, 12), n = c(15, 28), alternative = "two.sided")

	2-sample test for equality of proportions with continuity correction

data:  c(7, 12) out of c(15, 28)
X-squared = 7.5808e-32, df = 1, p-value = 1
alternative hypothesis: two.sided
95 percent confidence interval:
 -0.3119912  0.3881817
sample estimates:
   prop 1    prop 2
0.4666667 0.4285714

The most important part of this output is the p value. In this case, your p value is 1, which means that the proportion of pink candies between jelly beans and chocolate are the same.

In [14]:
#### Page 6

## Independent Chi-Squares in R

You recently learned how to conduct independent Chi-Squares in Python, and you already know how to compute them in MS Excel, so it's time to hit them up in R!

In order to run independent Chi-Squares in R, you will need to install and load the library gmodels.

## Load in Data

Next, you will read in your data. You'll be using survey data about the Star Wars movie franchise from over 1,000 participants. This data, as the name suggests on the zip file, has had all the columns renamed for your ease of use.

In [2]:
SW = read.csv('../../datasets/SW_survey_renamed.csv')

In [3]:
head(SW)

  RespondentID SeenYN FanYN SeenIYN
1 3292879998   Yes    Yes   Star Wars: Episode I  The Phantom Menace
2 3292879538   No
3 3292765271   Yes    No    Star Wars: Episode I  The Phantom Menace
4 3292763116   Yes    Yes   Star Wars: Episode I  The Phantom Menace
5 3292731220   Yes    Yes   Star Wars: Episode I  The Phantom Menace
6 3292719380   Yes    Yes   Star Wars: Episode I  The Phantom Menace
  SeenIIYN
1 Star Wars: Episode II  Attack of the Clones
2
3 Star Wars: Episode II  Attack of the Clones
4 Star Wars: Episode II  Attack of the Clones
5 Star Wars: Episode II  Attack of the Clones
6 Star Wars: Episode II  Attack of the Clones
  SeenIIIYN                                   SeenIVYN
1 Star Wars: Episode III  Revenge of the Sith Star Wars: Episode IV  A New Hope
2
3 Star Wars: Episode III  Revenge of the Sith
4 Star Wars: Episode III  Revenge of the Sith Star Wars: Episode IV  A New Hope
5 Star Wars: Episode III  Revenge of the Sith Star Wars: Episode IV  A New Hope
6 Star Wars: Episode III  Revenge of the Sith Star Wars: Episode IV  A New Hope
  SeenVYN
1 Star Wars: Episode V The Empire Strikes Back
2
3
4 Star Wars: Episode V The Empire Strikes Back
5 Star Wars: Episode V The Empire Strikes Back
6 Star Wars: Episode V The Empire Strikes Back
  SeenVIYN                                 RankI ... Favorable_Yoda
1 Star Wars: Episode VI Return of the Jedi  3    ... Very favorably
2                                          NA    ...
3                                           1    ... Unfamiliar (N/A)
4 Star Wars: Episode VI Return of the Jedi  5    ... Very favorably
5 Star Wars: Episode VI Return of the Jedi  5    ... Somewhat favorably
6 Star Wars: Episode VI Return of the Jedi  1    ... Very favorably
  ShotFirst                        ExpandedUniverseYN FanExpandedUniverseYN
1 I don't understand this question Yes                No
2
3 I don't understand this question No
4 I don't understand this question No
5 Greedo                           Yes                No
6 Han                              Yes                No
  StarTrekFanYN Gender Age   Household.Income
1 No            Male   18-29
2 Yes           Male   18-29 $0 - $24,999
3 No            Male   18-29 $0 - $24,999
4 Yes           Male   18-29 $100,000 - $149,999
5 No            Male   18-29 $100,000 - $149,999
6 Yes           Male   18-29 $25,000 - $49,999
  Education                        Location
1 High school degree               South Atlantic
2 Bachelor degree                  West South Central
3 High school degree               West North Central
4 Some college or Associate degree West North Central
5 Some college or Associate degree West North Central
6 Bachelor degree                  Middle Atlantic

## Question Set Up

One of the quintessential debates in Star Wars fandom is whether you are a fan of episodes I, II, and III (the newer, second trilogy of movies) 

or a fan of episodes IV, V, and VI (the older, beginning trilogy of movies). In this Chi-Square, you will determine whether age category Age influences someone's ranking of Episode I: The Phantom Menace.

## Data Wrangling

This data is already formatted correctly for an independent Chi-Square.

## Testing Assumptions and Running the Analysis

There are two assumptions associated with independent Chi-Squares. The first is that you need to have independent data. 

This is just a theoretical requirement - each person or object must be able to fit in only one cell. 

The second is that your expected frequencies must be greater than 5 for each cell. 

You will be able to check this second assumption by running your Chi-Square and asking for expected frequencies.

You will use the CrossTable() function from the gmodels library, and specify your IV followed by your DV. 

Then you can use the argument fisher=TRUE to specify that you want to use the Fisher's Exact Test method to calculate your effect size for Chi-Square, and the chisq=TRUE argument is to get the results from your Chi-Square. 

The next argument is the one of two that are required to get your expected frequencies. 

expected=TRUE will provide the expected frequencies, but you also need to include format="SPSS" to get them printed out! 

This format mimics the output you would receive if you used the statistical program SPSS

The last argument is sresid=TRUE, and this provides standardized residuals. Those will be used for determining effect sizes later.

In [22]:
CrossTable(SW$Age, SW$RankI, fisher=TRUE, chisq = TRUE, expected = TRUE, sresid=TRUE, format="SPSS")

Warning message in chisq.test(t, correct = FALSE, ...):
"Chi-squared approximation may be incorrect"

   Cell Contents
|-------------------------|
|                   Count |
|         Expected Values |
| Chi-square contribution |
|             Row Percent |
|          Column Percent |
|           Total Percent |
|            Std Residual |
|-------------------------|

Total Observations in Table:  835

             | SW$RankI
      SW$Age |        1  |        2  |        3  |        4  |        5  |        6  | Row Total |
-------------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|
             |        6  |        0  |        2  |        4  |        1  |        3  |       16  |
             |    2.472  |    1.360  |    2.491  |    4.541  |    1.916  |    3.219  |           |
             |    5.036  |    1.360  |    0.097  |    0.065  |    0.438  |    0.015  |           |
             |   37.500% |    0.000% |   12.500% |   25.000% |    6.250% |   18.750% |    1.916% |
             |    4.651% |    0.000% |    1.538% |    1.688% |    1.000% |    1.786% |           |
             |    0.719% |    0.000% |    0.240% |    0.479% |    0.120% |    0.359% |           |
             |    2.244  |   -1.166  |   -0.311  |   -0.254  |   -0.662  |   -0.122  |           |
-------------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|
        > 60 |       53  |       22  |       36  |       50  |       13  |       18  |      192  |
             |   29.662  |   16.326  |   29.892  |   54.496  |   22.994  |   38.630  |           |
             |   18.362  |    1.972  |    1.248  |    0.371  |    4.344  |   11.017  |           |
             |   27.604% |   11.458% |   18.750% |   26.042% |    6.771% |    9.375% |   22.994% |
             |   41.085% |   30.986% |   27.692% |   21.097% |   13.000% |   10.714% |           |
             |    6.347% |    2.635% |    4.311% |    5.988% |    1.557% |    2.156% |           |
             |    4.285  |    1.404  |    1.117  |   -0.609  |   -2.084  |   -3.319  |           |
-------------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|
       18-29 |       21  |       15  |       20  |       42  |       33  |       49  |      180  |
             |   27.808  |   15.305  |   28.024  |   51.090  |   21.557  |   36.216  |           |
             |    1.667  |    0.006  |    2.297  |    1.617  |    6.074  |    4.513  |           |
             |   11.667% |    8.333% |   11.111% |   23.333% |   18.333% |   27.222% |   21.557% |
             |   16.279% |   21.127% |   15.385% |   17.722% |   33.000% |   29.167% |           |
             |    2.515% |    1.796% |    2.395% |    5.030% |    3.952% |    5.868% |           |
             |   -1.291  |   -0.078  |   -1.516  |   -1.272  |    2.465  |    2.124  |           |
-------------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|
       30-44 |       15  |       11  |       28  |       57  |       25  |       71  |      207  |
             |   31.980  |   17.601  |   32.228  |   58.753  |   24.790  |   41.648  |           |
             |    9.015  |    2.476  |    0.555  |    0.052  |    0.002  |   20.686  |           |
             |    7.246% |    5.314% |   13.527% |   27.536% |   12.077% |   34.300% |   24.790% |
             |   11.628% |   15.493% |   21.538% |   24.051% |   25.000% |   42.262% |           |
             |    1.796% |    1.317% |    3.353% |    6.826% |    2.994% |    8.503% |           |
             |   -3.003  |   -1.573  |   -0.745  |   -0.229  |    0.042  |    4.548  |           |
-------------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|
       45-60 |       34  |       23  |       44  |       84  |       28  |       27  |      240  |
             |   37.078  |   20.407  |   37.365  |   68.120  |   28.743  |   48.287  |           |
             |    0.255  |    0.329  |    1.178  |    3.702  |    0.019  |    9.385  |           |
             |   14.167% |    9.583% |   18.333% |   35.000% |   11.667% |   11.250% |   28.743% |
             |   26.357% |   32.394% |   33.846% |   35.443% |   28.000% |   16.071% |           |
             |    4.072% |    2.754% |    5.269% |   10.060% |    3.353% |    3.234% |           |
             |   -0.505  |    0.574  |    1.085  |    1.924  |   -0.138  |   -3.063  |           |
-------------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|
Column Total |      129  |       71  |      130  |      237  |      100  |      168  |      835  |
             |   15.449% |    8.503% |   15.569% |   28.383% |   11.976% |   20.120% |           |
-------------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|


Statistics for All Table Factors


Pearson's Chi-squared test
------------------------------------------------------------
Chi^2 =  108.1543     d.f. =  20     p =  4.257807e-14

ERROR: Error in fisher.test(t, alternative = "two.sided"): FEXACT error 501.
The hash table key cannot be computed because the largest key
is larger than the largest representable int.
The algorithm cannot proceed.
Reduce the workspace, consider using 'simulate.p.value=TRUE' or another algorithm.

The very first output provides you a guide to each individual cell. First you'll see the actual count, then you will see the expected values, then the Chi-Square contribution, then Row Percent, Column Percent, Total Percent, and your standardized residual.

## Check Assumption of Expected Frequencies

You will want to look in the second row in each cell to find the expected frequency. 

Ideally, you want to have the expected value greater than 5 for each cell, but that's a pipe dream typically. 

You are technically allowed to have 20% of your cells with 5 or less, as long as none of them are zero. 

Luckily, you have no zeros here, and it looks like although there are some cells that have values less than five, only 6/30 have that, 

which happens to be 20%! So you are golden, and meet the assumption for Chi-Square. You can now proceed to interpret your results!

## Interpret Results

The results are shown at the bottom of your output, under the heading Pearson's Chi-squared test. 

If the p value is less than .05, than this analysis is significant, meaning that age does in fact make a difference in how people rank Episode I.

In [23]:
## p-value is significant, age does influce rank of Ep. 1

## Post Hocs

You may be wondering HOW age influences rankings for Episode I. 

The way you can do this is through a post hoc analysis, which will help you determine where those differences lie. 

With a Chi-Square, the way you will interpret your significant findings with a post hoc is with the standardized residual, which is located on the very bottom of the cell. 

As a general rule, anything that has a standardized residual with an absolute value greater than or equal to two is significantly different than what you expected. 

It is greater than expected if there is a plus sign, and it is less than expected if there is a minus sign. Looking at the results above, you can see the following:

* More people who did not disclose their age ranked Episode I first than expected

* More people aged over 60 ranked Episode I first than expected

* Fewer people aged over 60 ranked Episode I fifth or sixth than expected

* More people aged 18-29 ranked Episode I fifth or sixth than expected

* Fewer people aged 30-44 ranked Episode I first than expected

* More people aged 30-44 ranked Episode I sixth than expected

* Fewer people aged 45-60 ranked Episode I sixth than expected

Now, if you were to write this all out and present upon it at a business, you will get laughed out of the house, or even worse, completely ignored. 

So you'll need to summarize things and put them in layman's terms. Maybe something like this:

People either loved or hated Episode I.  Those who did not disclose their age, those who were 30-44 or over 60 years old were more likely to rank Episode I as their favorite. Those over 45 years old were less likely to to rank Episode I as their least favorite, and those over 60 years old were less likely to rank Episode I fifth. Those in the 30-44 year old age group were more likely to rank Episode I last, however.

In [26]:
#### Page 7

## Goodness of Fit Chi-Squares in R


You will use a goodness of fit Chi-Square when you are trying to compare a sample to a population. It is similar in concept to the single sample t-test.

## Load in Libraries

To compute a goodness of fit Chi-Square, the only package you will need is dplyr, to count up your data.

dplyr is included in tidyverse, which we loaded earlier

## Question Set Up


You found something online that mentioned that 90% of people are Star Wars fans, and you want to see if that holds true in your own survey. 

In this way, you are comparing your sample (the survey) to the population at large (what you read online).

## Data Wrangling

In order to run a goodness of fit Chi-Square, you need the observed values for folks who are fans of Star Wars, and for folks who are not fans of Star Wars. 
    
You can easily get those values by aggregating your data using the dplyr summarize() function for count (n()):

In [29]:
SW %>% group_by(FanYN) %>% summarize(count = n())

  FanYN count
1       350
2 No    284
3 Yes   552

You can ignore the missing values in this case, but you'll want to take note of the number of Nos and the number of Yess.

## Run Analysis

Now you are ready to set up for your analysis!

You will want to define the observed values as vectors, which you got from above:

In [30]:
observed = c(552, 284)

Next, you will define a vector of your expected values. These expected values must equal 1. If they don't, you end up with this error when you eventually run your Chi-Square:

'''Error in chisq.test(x = observed, p = expected) : 
  probabilities must sum to 1.'''

Here is how you will define your expected values. Since you are comparing to the online estimate of 90% Star Wars fans, you will want the Star Wars fans to come first (to match the above, which started with the number of yesses) and you will change 90% to .90:

In [31]:
expected = c(0.90, 0.10)

And now you are ready to run the analysis itself, with the function chisq.test(), in which you will define the argument of x= with your observed frequencies, and in which you will define the argument of p= with your expected frequencies:

In [32]:
chisq.test(x = observed, p = expected)

	Chi-squared test for given probabilities

data:  observed
X-squared = 533.76, df = 1, p-value < 2.2e-16

If the p value is less than .05, than your observed and expected values differ. In this case, this means that the number of Star Wars fans is not 90%. You might conclude, then, that your sample is somewhat confused compared to the overall population.

In [33]:
#### Page 9

## McNemar Chi-Squares

The McNemar Chi-Square is used when you are trying to look at something over time, and have only two timepoints; maybe a pre and a post. 

The timepoints are your independent variable. You are also limited to two levels of your dependent variable. 

You can think of a McNemar Chi-Square like a dependent t-test for categorical data.

## Load in Libraries

In order to complete McNemar Chi-Squares in R, the only libraries you will need are gmodels to conduct the Chi-Square, and tidyr to do some data wrangling (though you might not always need to wrangle your data).

tidyr is a part of tidyverse, which we loaded earlier

## Load in Data

The data you'll be using comes from the sales records of a bakery. It has the date and time of each bakery item sold.

In [4]:
bakerySales = read.csv('../../datasets/bakery_sales.csv')

In [5]:
head(bakerySales)

  Date       Time        Transaction Item
1 10/30/2016 9:58:11 AM  1           Bread
2 10/30/2016 10:05:34 AM 2           Scandinavian
3 10/30/2016 10:05:34 AM 2           Scandinavian
4 10/30/2016 10:07:57 AM 3           Hot chocolate
5 10/30/2016 10:07:57 AM 3           Jam
6 10/30/2016 10:07:57 AM 3           Cookies

## Question Set Up

You will be answering the following question:

Do the sales of coffee change from the beginning of the month to the end of the month?

## Data Wrangling

Looking at your data, you will find that you only have a single Date variable, and that you only have a single Item variable. 

Date is not broken up yet into the beginning and the end of the month, and Item is not broken into coffee or other. 

So, you will need to do a bit of recoding!

## Check the Structure of Your Data

First, it's always a good idea to check the structure of your data. You can use the str() function to do so:

In [39]:
str(bakerySales)

'data.frame':	21293 obs. of  4 variables:
 $ Date       : chr  "10/30/2016" "10/30/2016" "10/30/2016" "10/30/2016" ...
 $ Time       : chr  "9:58:11 AM" "10:05:34 AM" "10:05:34 AM" "10:07:57 AM" ...
 $ Transaction: int  1 2 2 3 3 3 4 5 5 5 ...
 $ Item       : chr  "Bread" "Scandinavian" "Scandinavian" "Hot chocolate" ...

The first thing that you should notice here is that your Date column is not formatted as a date, and you will need to do that before going farther.

## Reformatting to a Date

Reformatting to a date can be done with the function as.Date():

In [42]:
bakerySales$DateR = as.Date(bakerySales$Date, format = '%m/%d/%Y')

You can specify that this be a new variable by putting a new name at the front before the =, and then you'll use the function as.Date(). Specify the original variable you are formatting as a date, and then you'll need to use the argument format= to specify how the date has come in. Remember that the format needs to match the data exactly. The %m is for a decimal month, the %d is for a decimal day, and the %Y is for a four-digit year. You will notice that they are all separated by a / because that is how the data are separated in the orginal column.

## Separating the Pieces of the Date Variable

Once that is done, you will want to separate this out, so that you can look at and recode the Day column individually. You'll utilize the separate() function from the tidyr package:

In [44]:
bakerySales1 <- separate(bakerySales, DateR, c("Year", "Month", "Day"), sep="-")

And the result is that you now have month, day, and year, all split out in your dataset

In [46]:
head(bakerySales1)

  Date       Time        Transaction Item          Year Month Day
1 10/30/2016 9:58:11 AM  1           Bread         2016 10    30
2 10/30/2016 10:05:34 AM 2           Scandinavian  2016 10    30
3 10/30/2016 10:05:34 AM 2           Scandinavian  2016 10    30
4 10/30/2016 10:07:57 AM 3           Hot chocolate 2016 10    30
5 10/30/2016 10:07:57 AM 3           Jam           2016 10    30
6 10/30/2016 10:07:57 AM 3           Cookies       2016 10    30

## Recoding to Beginning or End of Month

Now that you have Day separated from the pack, you can see to the recoding:

In [48]:
bakerySales1$DayR <- NA
bakerySales1$DayR[bakerySales1$Day <= 15] <- 0
bakerySales1$DayR[bakerySales1$Day > 15] <- 1

This code first opens up a new variable named DayR, and then splits the content in half. Anything that is on the 15th of the month or earlier is recoded as a zero, while anything on the 16th of the month or later will be recoded as a one.

## Recoding to Coffee or Other

The last recode you have left to undertake is to recode the Item variable from listing every single item out to recoding into the discrete categories of coffee or not coffee. 

Below, you'll find code that creates a new variable named CoffeeSales and fills it with a 1 for anything that is Coffee and fills it with a 0 for anything that is not coffee.

In [49]:
bakerySales1$CoffeeSales <- NA
bakerySales1$CoffeeSales[bakerySales1$Item == "Coffee"] <- 1
bakerySales1$CoffeeSales[bakerySales1$Item != "Coffee"] <- 0

And with that, you are now ready to launch into your assumption testing and analysis!

In [50]:
head(bakerySales1)

  Date       Time        Transaction Item          Year Month Day DayR
1 10/30/2016 9:58:11 AM  1           Bread         2016 10    30  1
2 10/30/2016 10:05:34 AM 2           Scandinavian  2016 10    30  1
3 10/30/2016 10:05:34 AM 2           Scandinavian  2016 10    30  1
4 10/30/2016 10:07:57 AM 3           Hot chocolate 2016 10    30  1
5 10/30/2016 10:07:57 AM 3           Jam           2016 10    30  1
6 10/30/2016 10:07:57 AM 3           Cookies       2016 10    30  1
  CoffeeSales
1 0
2 0
3 0
4 0
5 0
6 0

## Test Assumptions and Run Analyses

The assumptions for a McNemar Chi-Square is the same as for an independent Chi-Square: you need to have at least 5 expected observations in each cell. 
    
And just like the independent Chi-Square, in R, you will need to run the entire analysis first and then check the assumption. 

All the code is nearly the same, too, except that you will add in the argument of mcnemar=TRUE. Take a look:

In [52]:
CrossTable(bakerySales1$DayR, bakerySales1$CoffeeSales, fisher=TRUE, chisq = TRUE, mcnemar = TRUE, expected = TRUE, sresid=TRUE, format="SPSS")

   Cell Contents
|-------------------------|
|                   Count |
|         Expected Values |
| Chi-square contribution |
|             Row Percent |
|          Column Percent |
|           Total Percent |
|            Std Residual |
|-------------------------|

Total Observations in Table:  21293

                  | bakerySales1$CoffeeSales
bakerySales1$DayR |        0  |        1  | Row Total |
------------------|-----------|-----------|-----------|
                0 |     8238  |     2841  |    11079  |
                  | 8232.374  | 2846.626  |           |
                  |    0.004  |    0.011  |           |
                  |   74.357% |   25.643% |   52.031% |
                  |   52.067% |   51.928% |           |
                  |   38.689% |   13.342% |           |
                  |    0.062  |   -0.105  |           |
------------------|-----------|-----------|-----------|
                1 |     7584  |     2630  |    10214  |
                  | 7589.626  | 2624.374  |           |
                  |    0.004  |    0.012  |           |
                  |   74.251% |   25.749% |   47.969% |
                  |   47.933% |   48.072% |           |
                  |   35.617% |   12.351% |           |
                  |   -0.065  |    0.110  |           |
------------------|-----------|-----------|-----------|
     Column Total |    15822  |     5471  |    21293  |
                  |   74.306% |   25.694% |           |
------------------|-----------|-----------|-----------|


Statistics for All Table Factors


Pearson's Chi-squared test
------------------------------------------------------------
Chi^2 =  0.03119586     d.f. =  1     p =  0.8598041

Pearson's Chi-squared test with Yates' continuity correction
------------------------------------------------------------
Chi^2 =  0.02589738     d.f. =  1     p =  0.8721512


McNemar's Chi-squared test
------------------------------------------------------------
Chi^2 =  2157.894     d.f. =  1     p =  0

McNemar's Chi-squared test with continuity correction
------------------------------------------------------------
Chi^2 =  2156.985     d.f. =  1     p =  0


Fisher's Exact Test for Count Data
------------------------------------------------------------
Sample estimate odds ratio:  1.00556

Alternative hypothesis: true odds ratio is not equal to 1
p =  0.8629243
95% confidence interval:  0.9450908 1.06987

Alternative hypothesis: true odds ratio is less than 1
p =  0.5762927
95% confidence interval:  0 1.059359

Alternative hypothesis: true odds ratio is greater than 1
p =  0.4360365
95% confidence interval:  0.9545028 Inf



       Minimum expected frequency: 2624.374

## Check Assumption of Expected Frequencies

In order to meet the assumption for the McNemar Chi-Square, you will need to have at least 5 expected per cell. With the lowest expected value being in the two thousands, you have definitely met this assumption!

## Interpret Results

You will start by looking at the p value for McNemar's Chi-squared test. 

It doesn't usually matter whether you look at the original or the one with the continuity correction - they are usually pretty close. 

If the p value is less than .05, then this test is significant. This means that on this occasion, there is a difference in coffee sales from the beginning to the end of the month.

## Post Hocs

What does that difference actually look like? 

Well that's a matter for post hocs, and again, like the independent Chi-Square, you will examine the standardized residuals. 

Anything with an absolute value of 2 (can be positive or negative) differs from expected. 

However, looking at your post hocs (which have been corrected to account for the possibility of Type I error), you find that none of your standardized residuals are over 2. 

This means that this test was not really significant after all. A good litmus test for this is to look at your row total percentages. 

See how sales at the beginning of the month are at 52%, and sales at the end of the month are 48%? 

Although these are technically different, they're pretty darn close, and the test has decided that they are similar enough that it is not significant.