In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [2]:
python

NameError: name 'python' is not defined

In [3]:
import numpy as np

ModuleNotFoundError: No module named 'numpy'

In [4]:
! pip install pandas

zsh:1: command not found: pip

In [5]:
!

In [6]:
pip install pandas

Collecting pandas
  Downloading pandas-1.3.1-cp39-cp39-macosx_10_9_x86_64.whl (11.3 MB)
     |████████████████████████████████| 11.3 MB 2.8 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/Cellar/jupyterlab/3.1.0/libexec/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/Cellar/jupyterlab/3.1.0/libexec/lib/python3.9/site-packages (from pandas) (2021.1)
Collecting numpy>=1.17.3
  Downloading numpy-1.21.1-cp39-cp39-macosx_10_9_x86_64.whl (17.0 MB)
     |████████████████████████████████| 17.0 MB 12.4 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /usr/local/Cellar/jupyterlab/3.1.0/libexec/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.21.1 pandas-1.3.1
WARNING: You are using pip version 21.1.3; however, version 21.2.1 is available.
You should consider upgrading via the '/usr/local/Cellar/jupyterlab/3.1.0/libexec/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd

In [18]:
data = pd.read_excel('../../datasets/hybrid2012-13.xlsx')

In [9]:
dir

In [10]:
ls

DSO104 L1 Python - Hands On.ipynb  Untitled.ipynb
DSO104 L1 R - Hands On.ipynb

In [11]:
ls ..

BorderCrossing.ipynb
DSO102 @ L3, beginning page 2_Rplayground.ipynb
DSO104 L1 HandsOn R + Python/
Devin's Chicago Data Exploration/
Intermediate Statistics/
Untitled.ipynb
Untitled1.ipynb
Untitled2.ipynb
Untitled3.ipynb

In [12]:
ls ../..

1_Install_R.ipynb  datasets/          notebooks/
README.md          media/

In [15]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
     |████████████████████████████████| 243 kB 4.6 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.7
WARNING: You are using pip version 21.1.3; however, version 21.2.1 is available.
You should consider upgrading via the '/usr/local/Cellar/jupyterlab/3.1.0/libexec/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [17]:
data

,vehicle,msrp2012,accelrate2012,mpg2012,mpgmpge2012,carclass2012,carclass_id2012,msrp2013,accelrate2013,mpg2013,mpgmpge2013,carclass2013,carclass_id2013
0,ActiveHybrid 3,19006.62,9.35,50,50,C,1,19080,8.70,50,50,C,1
1,ActiveHybrid 5,32095.61,8.82,50,95,M,3,24995,12.66,45,45,C,1
2,Ampera,31739.55,11.11,37,98,C,1,24200,10.20,50,50,M,3
3,Camry LE,62180.23,16.67,26,26,M,3,18600,11.76,42,42,C,1
4,Chevrolet Volt,59126.14,16.95,31,31,M,3,69850,16.39,21,21,SUV,6
5,Insight,18555.28,9.42,42,42,C,1,62575,16.13,21,21,SUV,6
6,LaCrosse,39261.96,11.11,37,94,C,1,74425,11.63,21,21,SUV,6
7,M35h,34858.84,11.49,39,39,M,3,53620,11.90,21,21,SUV,6
8,MKZ FWD,53860.45,19.23,29,29,M,3,61960,13.33,21,21,SUV,6
9,Panamera S,30049.52,11.36,29,29,M,3,39250,12.35,40,40,M,3
10,Prius C,61132.11,17.54,26,26,M,3,28900,9.26,38,38,C,1
11,Prius PHV,95283.85,17.54,25,25,L,2,49650,14.93,28,28,C,1
12,Yukon 1500,52626.77,13.50,21,21,SUV,6,39145,11.11,37,98,C,1